.global_b {
    color: white;
    background-color:black;
    font-family:'Heebo', sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
}
.header_menu-nav{
    margin-right: 30px;
    margin-bottom: -10px;
    align-self: flex-end;
}
.header_menu-list {
    list-style: none;
    display: flex;
}
.header_menu-list li{
    padding-left: 10px;
}
.header_menu-list li a {
    text-decoration: none;
    color: white;
}
.img_pc{
    position: relative;
    display: inline-block;
    text-align: center;
}
.img_pc img{
    width: 100%;
    height: 500px;
}
.img_pc-centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    font-size: -webkit-xxx-large;
}
.sobre_mi{
    background: #A8201A;
    display: flex;
    justify-content: space-between;
    justify-self: center ;
    padding: 20px 80px;
}
.sobre_mi-p{
    font-size: x-large;
}
.proyecto {
    display: flex;
    flex-wrap: wrap;
  }
.proyecto_box {
    /* border: 1px solid red; */
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
  }
.proyecto_titulo {
    margin-left: 20px;
  }
.proyecto_box-art { 
    margin: 10px;
    width: 480px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background: #f4fbff;
  }
.proyecto_box-art-fig-img {
    width: 480px;
    height: 200px;
    object-fit: cover;
  }
.proyecto_box-dtl{
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: center;
  }
.proyecto_box-dtl-desc {
    text-align: left;
  }
  
.proyecto_box-dtl-url {
    color: #056fff;
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  