.global_b {
    color: white;
    background-color:black;
    font-family:'Heebo', sans-serif;;
}
.header{
    display: flex;
    justify-content: space-between;
}
.header_menu-nav{
    margin-right: 30px;
    margin-bottom: -10px;
    align-self: flex-end;
}
.header_menu-list {
    list-style: none;
    display: flex;
}
.header_menu-list li{
    padding-left: 10px;
}
.header_menu-list li a {
    text-decoration: none;
    color: white;
    
}